/*Resets browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Custom color scheme*/
header {
    background-color: wheat;
    border-bottom: 3px solid #004e89;
}

body {
    background-color: blanchedalmond;
}

footer {
    border-top: 3px solid #004e89;
    background-color: wheat;
}

/*Centers lists as blocks but keeps text in lists left-aligned*/
ol, ul {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/*ID selectors for specific sections*/
#history, #timeline {
    border-left: 4px solid #004e89;
    border-right: 4px solid #004e89;
}

#goat-debate, #top-five {
    border-left: 4px solid #fca311;
    border-right: 4px solid #fca311;
}